body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: lightblue;
    color: steelblue;
}

#map-container svg {
    width: 80%;
    max-width: 900 px;
    cursor: pointer;
}

svg path:hover {
    fill: pink;
}

h1{
    margin-bottom: 0px;
}
