body{
    font-family: Arial, Helvetica, sans-serif sans-serif;
    text-align: center;
    background: rgb(255, 218, 224);
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    color: steelblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(255, 218, 224);
    font-style: italic;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: steelblue;
    font-size: 20px;
}

button {
    font-size: 20px;
    font-weight: bold;
    background: lightcyan;
    color: steelblue;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;

}

button:hover {
    background-color: gray;
    transform: scale(1.05);
}

img{
    display: block;
    margin: 20px auto;
}

