html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: cornflowerblue;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: auto;
}

#map-container svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

svg path:hover {
    fill: red;
}

#movie-box {
    color: black;
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
