body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: black;
    color: white;
}

#map-container {
    width: 120%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-container svg {
    width: 120%;
    height: 120;
    max-width: 120%;
    max-height: 120%;
    cursor: pointer;
}

svg path:hover {
    fill: red;
}

#movie-box {
    color: black;
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
